
    <%= render :partial => "shared/repos_branches" %>
    <%= render :partial => "shared/bugs" %>

    <div class="last_commits">

      <div class="commit">
        <div class="commit_pix"></div>
        <h4><%= @commit.sha %><%= @commit.author.name %> @ <%= @commit.commited_time.strftime("%x %X") %> on branch <a href="branch"><%= @commit.branch.name %></a></h4>
        <p><%= @commit.log %></p>
      </div>

    <div class="diff">
      <% @diffs.each do |d| %>
        <div class="diff">
          <h4><%= d.b_path %></h4>
          <pre><code><% d.diff.gsub("\n","<br />") %></code></pre>
        </div>
      <% end %>
    </div>

    </div>
    <div class="clear"></div>
  
  </div>
