          <div class="commit">
            <div class="commit_pix"></div>
            <h4><%= @e.commited_time.strftime("%x %X") %>
							<a href="/commits/get/<%= @e.id %>"><%= @e.short_sha %></a>
							(<%= link_to_remote @e.branch.name, :update => "events", :url => { :controller => :projects, :action => :branch, :id => @e.branch.id } %>)
						</h4>
            <p><%= @e.short_log %></p><span class="sub_signature"><%= @e.author_name %></span>
          </div>
