          <div class="commit">
            <div class="commit_pix"></div>
            <h4><%= @e.commited_time.strftime("%x %X") %>
							<a href="/commits/get/<%= @e.id %>"><%= @e.short_sha %></a>
							(<a href="branch"><%= @e.branch.name %></a>)
						</h4>
            <p><%= @e.short_log %></p><span class="sub_signature"><%= @e.author_name %></span>
          </div>
