    <div class="project_desc">
      <ul class="branches">
        <lh>Repositories :</lh>
        <% @project.repositories.each do |r| %>
          <li class="branch"><a href="/projects/get/<%= @project.id %>" ><%= r.name %></a></li>        
        <% end%>
        <li class="branch"><a href="/repositories/new" alt="Add repository" title="Add repository" ><img src="/images/add_repo.png" /></a></li>
      </ul>
      <% if (session[:repository_id]) %>
        <% active_repo = Repository.find(session[:repository_id]) %>
      <% else %>
        <% active_repo = @project.repositories.find_by_name('origin') %>
      <% end %>
      <div class="sub">active : <%= active_repo.path %> (<%= active_repo.name %>) , <%= active_repo.commits.count %> commits</div>

      <ul class="branches">
        <lh>Branches :</lh>
        <% if @project.repositories.size > 1 %>
          <li class="branch"><%= link_to "All", :controller => "projects", :action => "get", :id => @project.id %></li>
        <% end %>
        <% @project.repositories.each do |r| %>
          <% r.branches.each do |b| %>
          <li class="branch"><%= link_to_remote b.name, :update => "events", :url => { :action => "branch", :id => b.id } %></li>        
          <% end %>
        <% end %>
      </ul>
    </div>
