    <div class="project_desc">
      <ul class="branches">
        <lh>Repositories :</lh>
        <% @project.repositories.each do |r| %>
          <li class="branch"><a href="/projects/get/<%= @project.id %>" ><%= r.name %></a></li>        
        <% end%>
        <li class="branch"><a href="/repositories/new" alt="Add repository" title="Add repository" ><img src="/images/add_repo.png" /></a></li>
      </ul>
      <% active_repo = Repository.find(session[:repository_id]) %>
      <div class="sub">active : <%= active_repo.path %> (<%= active_repo.name %>)</div>

      <ul class="branches">
        <lh>Branches :</lh>
        <% @project.repositories.each do |r| %>
          <% r.branches.each do |b| %>
          <li class="branch"><a href="/projects/get/<%= @project.id %>"><%= b.name %></a></li>        
          <% end %>
        <% end %>
      </ul>
    </div>
