
  <div class="project">
    <%= render :partial => "shared/repos_branches" %>
    <%= render :partial => "shared/bugs" %>

    <% if (session[:repository_id]) %>
      <% active_repo = Repository.find(session[:repository_id]) %>
    <% else %>
      <% active_repo = @project.repositories.find_by_name('origin') %>
    <% end %>
			<div class="stats">
				<h3>Today</h3>
				<p>Files : <%= @today_stats['files'] %>
				Subs : <%= @today_stats['subs'] %>
				Adds : <%= @today_stats['adds'] %>
				</p>
				
			</div>

      <div class="last_commits">

          <div id="events">
            <%= render :partial => "lately" %>
						<% if !@project.repositories.empty? %>
						<div class="paginate">
							<%= will_paginate @page_results %>
						</div>
						<% end %>
					</div>
      </div>
    <div class="clear"></div>
  
  </div>
