
  <div class="project">
    <%= render :partial => "shared/repos_branches" %>
    <%= render :partial => "shared/bugs" %>

    <% if (session[:repository_id]) %>
      <% active_repo = Repository.find(session[:repository_id]) %>
    <% else %>
      <% active_repo = @project.repositories.find_by_name('origin') %>
    <% end %>
			<div class="stats">
				<h3>Last 3 days stats :</h3>
				<% for day in (1..3) %>
					<% stats = day_stats(day, @project.id, active_repo.id) %>
					<p>
					<% t = Time.now %>
					<%= (t - (day-1).days).strftime("%x") %> :
					<%= stats['subs'] %> subs and
					<%= stats['adds'] %> adds
					in <%= stats['commits'] %> commits
					</p>
				<% end %>
				
			</div>

      <div class="last_commits">

          <div id="events">
            <%= render :partial => "lately" %>
						<% if !@project.repositories.empty? %>
						<div class="paginate">
							<%= will_paginate @page_results %>
						</div>
						<% end %>
					</div>
      </div>
    <div class="clear"></div>
  
  </div>
