
    <%= render :partial => "shared/repos_branches" %>
    <%= render :partial => "shared/bugs" %>

    <div class="last_commits">

      <div class="commit">
        <% if @bug.fixed? %>
          <div class="fix_pix"></div>
        <% else %>
          <div class="bug_pix"></div>
        <% end %>
        <h4>#<%= @bug.local_id %> <%= @bug.title %> <%= @bug.author.login %> @ <%= @bug.created_at.strftime("%x") %> on repo <a href="branch"><%= @bug.repository.name %></a></h4>
        <% if @bug.fixed? %>
          <p>fixed by <a href="/commits/get/<%= @bug.fixing_commit.id %>"><%= @bug.fixing_commit.short_sha %></a></p>
        <% end %>
        <p>
          <%= @bug.desc %>
        </p>
      </div>

    </div>
    <div class="clear"></div>
  
  </div>
