
    <%= render :partial => "shared/repos_branches" %>
    <%= render :partial => "shared/bugs" %>

    <div class="last_commits">

      <div class="commit">
        <div class="commit_pix"></div>
        <h4>#<%= @bug.local_id =><%= @bug.title %><%= @bug.author.login %> @ <%= @bug.createdAt %> on repo <a href="branch"><%= @bug.repository.name %></a></h4>
        <p><%= @bug.desc %></p>
      </div>

    </div>
    <div class="clear"></div>
  
  </div>
